.card {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  inset: 0;
  inline-size: 100%;
  block-size: 100%;
  justify-content: flex-end;
  background: linear-gradient(
    0deg,
    alpha(var(--mantine-color-blue-3), 0.2) 0%,
    transparent 30%,
    transparent 100%
  );
  z-index: 100;
}

.info {
  padding: var(--mantine-spacing-xs);
}

.flag {
  width: 100%;
  filter: opacity(0.5);
}

.ship {
  position: absolute;
  inset: 0;
}
