.card {
  position: relative;
  cursor: pointer;
  isolation: isolate;
}

.overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  inset: 0;
  inline-size: 100%;
  block-size: 100%;
  background: linear-gradient(
    0deg,
    alpha(var(--nation-color), 0.2) 0%,
    transparent 30%,
    transparent 100%
  );
  z-index: 100;
}

.info {
  padding-inline: var(--mantine-spacing-xs);
  padding-block-end: var(--mantine-spacing-xs);
  padding-block-start: 0;
}

.title {
  text-transform: uppercase;
  color: var(--mantine-color-yellow-4);
}

.flag {
  width: 100%;
  filter: opacity(0.7);
}

.ship {
  position: absolute;
  inset: 0;
  transition: transform 200ms;
}
